body {
  background-color: #0c131c;
  font-family: "Outfit";
  color: #577db2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

p, td {
  font-weight: 300;
  font-size: 0.8rem;
}


table {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}

a:hover {
  color: #01fff8;

}


/* Card */

.container-card {
  position: relative;
  background-color: #141c28;
  width: 15rem;
  height: 26rem;
  border-radius: 3%;
  padding: 1% 1%;
}


/* Header */

.header {
  position: relative;
  background-color: #01fff8;
  border-radius: 4%;
}

.img-heading {
  width: 100%;
  border-radius: 3%;
  display: block;
  height: auto;
  opacity: 1;
  transition: .5s ease;
}

.hover-head {
  transition: .5s ease;
  text-align: center;
  position: absolute;
  bottom: 38%;
  left: 40%;
  opacity: 0;
}

.header:hover .img-heading {
  opacity: 0.6;
}

.header:hover .hover-head {
  opacity: 1;
}


/* Features */

.ethereum, .clock {
  display: inline-flex;
  align-items: center;
  font-size: 0.7rem;
}

.clock {
  margin-left: 6rem;
}

.ethereum {
  color: #01fff8;
}

.icon-features {
  margin-right: 3px;
  display: inline-block;
}


/* Decorative line */
.decorative-line {
  border-bottom: 1px solid #fff;
  opacity: 0.3;
  margin:1rem 0 0.8rem 0;
}

/* Bottom of the card */

.bottom-card {
  position:relative;
  margin-bottom: 1.5rem;
}

.avatar-text {
  display: inline-block;
  margin: 0;
  font-size: 0.7rem;
}

.avatar-img {
  width: 10%;
  float: left;
  margin-right: 4%;
  border: 1px solid #fff;
  border-radius: 50%;
}


/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  transition: 0.5s ease;
}

.attribution a:hover{
  color:#fff;
}

/* Mobile Responsive */

@media (max-width: 1440px) {
  .container-card {
    position: static;
    width: 15rem;
    height: 26rem;
    padding: 0.8rem;
  }
}
